@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-item::-webkit-scrollbar {
    width: 6px;
}

.scroll-item::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll-item::-webkit-scrollbar-thumb {
    background: #072635;
    border-radius: 3px;
}

.scroll-item::-webkit-scrollbar-thumb:hover {
    background: #555;
}